/* 
Name: Sharjeel Sohail
Email: sharjeelsoh@gmail.com
File: stylesheet.js (2/3)
*/

body {
    font-family: "Times New Roman", Times, serif;
}
ul {
    list-style: none;
}
li {
    padding: 10px;
    margin: 5px;
}
p, h4, .main-list, .tag-line {
    padding: 0;
    margin: 0;
}
h2 {
    margin-bottom: 2px;
}
.tag-line {
    font-size: small;
    margin-bottom: 10px;
}
.main-container, h2, .tag-line {
    display: flex;
    justify-content: center;
}
.main-list {
    width: 50%;
}
.list-item {
    border: 1px solid black;
    cursor: pointer;
}
.table-header {
    text-align: left;
    padding: 10px;
}
td {
    padding: 10px;
    border: 1px solid black;
}
.popup{
    position: fixed;
    display: flex;
    visibility: hidden;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    overflow-y: hidden;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
}
.popup-content {
    width: 50%;
    height: 70vh;
    margin: auto;
    overflow-y: hidden;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3vh;
    background-color: silver;
    padding: 10px;
}
.popup-body {
    display: flex;
    justify-content: center;
    color: black;
    overflow-y: auto;
    padding: 5px;
    height: calc(67vh - 20px - 10px);
}
.open-popup {
    opacity: 100%;
    visibility: visible;
}
.closeBtn {
    font-size: 30px;
    cursor: pointer;
}
.closeBtn:hover {
    color: white;
}